<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onsubmit()" [formGroup]="signUpForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input
                            formControlName="username"
                            id="username"
                            type="text">
                    <span *ngIf="signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched">Please Enter the Valid Name !</span>
                </div>

                <div class="form-group">
                    <label for="email">email</label>
                    <input
                            class="form-control"
                            formControlName="email"
                            id="email"
                            type="text">
                </div>

                <div *ngFor="let gender of genders" class="radio">
                    <label>
                        <input
                                [value]="gender"
                                formControlName="gender"
                                type="radio">{{ gender }}
                    </label>
                </div>

                <div formGroupName="address">
                    <div>
                        <label for="streetID">Street</label>
                        <input formControlName="streetFCN" id="streetID" type="text">
                        <span *ngIf="signUpForm.get('address.streetFCN')?.invalid && signUpForm.get('address.streetFCN')?.touched">Please Enter the Valid Street Name !</span>
                    </div>
                    <div>
                        <label for="pincodeID">Pincode</label>
                        <input formControlName="pincodeFCN" id="pincodeID" name="pincode" type="text">
                    </div>
                    <div>
                        <label for="LocalityID">Locality</label>
                        <input formControlName="localityFCN" id="LocalityID" name="locality" type="text">
                    </div>
                    <div>
                        <label for="addressID">Address</label>
                        <input formControlName="addressFCN" id="addressID" name="" type="text">
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
